body{
    margin: 0;
    padding: 0;
}

.background {
    width: 100%;
    height: 65vh; 
    background-image: url('/header/testing.png'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.banner {
    position: relative;
    z-index: 1; 
   
}
